@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    font-family: "Montserrat";
}

body{
    margin: 0 auto;
    background-color: #25252a;
    
}








/* page */

header.header{
    display: flex;
    align-items: center;
}

header.header img{
    width: 7%;
}

section.top-page{
    background: url("../images/discord.jpeg");
    background-size: cover;
    height: 96vh;
    padding: 1%;
}









/* menu de naviguation */

nav.nav{
    display: flex;
    justify-content: space-between;
    font-size: 125%;
    list-style: none;
    width: 100%;
}
nav.nav li{
    color: #0a28ac;
    font-weight: 600;
    
}

.big2-title{
    text-align: center;
    color: #3f0303;
    font-size: 187.5%;
    width: 12%;
}
.cmd{
    text-decoration: none;
    color: #0a28ac;
}







/* milieu de page */

.landing-page{
    align-items: center;
    padding: 0% 36%;
    font-size: 187.5%;
    
}

.big3-title{
    font-size: 50px;
}

.icon-discord{
    font-size: 50px;
    color: #646ef7;
}

.wumpus{
    margin-left: 38%;
    margin-top: 9%;
    height: 20%;
}


.discordlogoblanc{
    font-size: 35px;
    margin-left: 73%;
}